* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

/* ---------------------- */
/* ELEMENTS CONFIG */
/* CARD */
.card {
  min-height: 500px;
}
.ant-card-body {
  padding: 10px !important;
}

/* SWIPER */
.swiper-img {
  width: 350px;
  margin: auto;
  max-height: 200px;
}

/* Header */
h1 {
  margin: auto !important;
  font-size: 20px !important;
  font-weight: bold !important;
  text-align: center;
}

/* HEADER BAR */

.header-bar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  background-color: rgba(65, 147, 201, 0.426);
}
.no-header {
  padding-top: 100px;
}
.header-content {
  align-items: center;
  vertical-align: middle;
  .logo {
    h1 {
      font-size: 30px !important;
    }
    margin: 0 10px;
  }
  .auth {
    .authBtn {
      margin: 0 6px;
      padding: 4px 10px;
      outline: none;
      border-radius: 6px;
      cursor: pointer;
      transition: 0.5s;
      &:hover{
        color: white;
        background-color: rgb(97, 96, 96);
      }
    }
  }
}

/* ----------------------- */
/* CSS ANIMATION */
.hover {
  transition: 0.5s;
  cursor: pointer;
  &:hover {
    transform: scale(1.07);
  }
}
