* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}
.none {
  display: none !important;
}
.edit-btn {
  padding: 2px 5px;
  outline: none;
  border-radius: 6px;
  margin: 4px auto;
  width: 70px;
  border: 1px solid rgba(0, 0, 0, 0.27);
}
input {
  outline: none;
}
.add-position-input input{
  background-color: #a3a2a21b;
}
/* ---------------------- */
/* ELEMENTS CONFIG */
/* CARD */
.card {
  height: 150px;
  transition: 0.5s !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  &:hover {
    transform: translateY(4px);
  }
}
.ant-card-body {
  padding: 10px !important;
}
.card h3 {
  font-weight: 34px;
  font-weight: bold;
  font-style: italic;
}
.price {
  font-size: 16px;
}
.strong {
  font-size: 20px;
  font-weight: bold;
}

.badge {
  margin-left: 20px;
}

/* SWIPER */
.swiper-img {
  width: 350px;
  margin: auto;
  max-height: 200px;
}

/* Header */
h1 {
  margin: auto !important;
  font-size: 45px !important;
  font-weight: bold !important;
  text-align: center;
  color: #ff385c;
}
.logo {
  color: #ff385c;
}
.theme {
  color: #333;
}

/* ---------- */
/* HEADER BAR */

.header-bar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.no-header {
  padding-top: 100px;
}
.header-content {
  align-items: center;
  vertical-align: middle;
  .logo {
    h1 {
      font-size: 35px !important;
      margin-left: 10px !important;
    }
    margin: 0 10px;
  }
  .auth {
    .authBtn {
      margin: 0 6px;
      padding: 4px 15px;
      font-size: 18px;
      outline: none;
      border-radius: 6px;
      cursor: pointer;
      transition: 0.5s;
      &:hover {
        color: white;
        /* background-color: rgb(97, 96, 96); */
        background-color: #ff385c;
      }
    }
  }
}



/* -------ADMIN FORM------ */
.TableForm {
  width: 80%;
  border-radius: 6px;
  margin-bottom: 6px;
  margin: 0 auto;
}
.AddForm {
  width: 30%;
  border-radius: 6px;
  margin-bottom: 6px;
  margin: 0 auto;
}

/* FORM BOOKING */
.booking {
  text-align: center;
}
.form-booking {
  padding: 30px;
  border: 1px solid #33333343;
  border-radius: 10px;
  height: auto;
  transition: 0.5s;
  #ngayDen,
  #ngayDi,
  #soLuongKhach {
    background-color: rgba(73, 73, 73, 0.07);
  }
  box-shadow: rgba(0, 0, 0, 0.129) 0px 3px 8px;
  &:hover {
    transform: translateY(-2px);
  }
  .booking-btn {
    padding: 20px 20px;
    margin-top: 15px;
    border-radius: 6px;
    width: 100%;
    border: none;
    background-color: rgb(250, 26, 71);
    color: white;
  }
  .booking-content{
    border-top: 1px solid #33333331;
  }
}

/* .ant-tabs-tab{
  transition: 0.5s!important;
}

.ant-tabs-tab:hover{
  background-color: #4096ff!important;
  /* color: white!important; */





/* ----------------------- */
/* CSS ANIMATION */
.hover {
  transition: 0.5s;
  cursor: pointer;
  &:hover {
    transform: scale(1.07);
  }
}




