* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

/* ---------------------- */
/* ELEMENTS CONFIG */
/* CARD */
.card {
  min-height: 500px;
}
.ant-card-body {
  padding: 10px !important;
}

/* SWIPER */
.swiper-img {
  width: 350px;
  margin: auto;
  max-height: 200px;
}

/* Header */
h1 {
  margin: auto !important;
  font-size: 20px !important;
  font-weight: bold !important;
  text-align: center;
}

/* ----------------------- */
/* CSS ANIMATION */
.hover {
  transition: 0.5s;
  &:hover {
    transform: scale(1.07);
  }
}
